@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
  url('./fonts/Gilroy-ExtraBold.otf') format('otf');
}

@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'),
  url('./fonts/Gilroy-Light.otf') format('otf');
}
