@use "../abstracts" as *;

.movie-info {
  margin: -15rem 0 3rem;
  background-image: linear-gradient(to bottom, rgb(38, 47, 51), rgba(255,255,255,0));

  @include responsive(xsmall){
    margin: -15rem 0 1rem;
  }
}

.stats {
  display: inline-block;
}

.main-movie-page-info {
  vertical-align: top;
  position: relative;
  margin-top: 7.5rem;
  margin-left: 1rem;
  word-wrap: break-word;
  max-width: 70%;
  font-size: 1.4rem;
  @include responsive(xsmall){
    max-width: 100%;
    margin-top: 2rem;
  }
  @include responsive(small){
    max-width: 100%;
    margin-top: 2rem;
  }
  @include responsive(medium){
    max-width: 100%;
    margin-top: 2rem;
  }
}

.stats-position-name {
  vertical-align: top;
  position: relative;
}

.stats-position-year {
  vertical-align: top;
  position: relative;
  font-size: 2rem;
}

.stats-position-rating {
  display: flex;
  &__stars {
    margin: 1rem 0.5rem 1rem;
  }
}

.score {
  margin: auto;
}

.stats-position-rating-number {
  font-size: 3rem;
  margin: 1.3rem 2.8rem 1rem;
  float: right;
}

.stats-minor-info {
  padding-bottom: 3rem;
}

.directed-by {
  padding: 2rem 0;
}

.movie-info-import-data-color {
  color: #b4cbcd;
}

.summary {
  padding: 1rem 0;
}

.runtime {
  padding-right: 3rem;
}

.genres {
  padding-right: 3rem;
}

.release {

}



.stats-position-main-buttons {
  display: flex;
  margin-top: 1em;
}


.stats-position-secondary-buttons {
  margin-top: 6px;
  display: flex;
}

.movieTabs {

}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #18c50f;
  border: 1px solid transparent;
  border-radius: 0.45rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-right: 1rem;
  min-height: 3rem;
  padding: calc(.875rem + 3px) calc(6.2rem);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #47d540;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #0db004;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.button-6 {
  align-items: center;
  background-color: #181c1c;
  border: 2px solid rgba(255, 255, 255, 0.47);
  border-radius: 50%;
  height: 45px;
  box-sizing: border-box;
  color: rgba(238, 238, 238, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: auto;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(255, 255, 255, 0.91);
  color: rgb(238, 238, 238);
  box-shadow: 0 0 1px 1px #ffffff;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.buttons {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
