/*a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul, var, video {*/
/*    border: 0;*/
/*    font-family: inherit;*/
/*    font-size: 100%;*/
/*    font-style: inherit;*/
/*    font-weight: inherit;*/
/*    margin: 0;*/
/*    outline: 0;*/
/*    padding: 0;*/
/*    vertical-align: baseline;*/
/*}*/

.a {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #14181C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.site-header {
    height: 72px;
    position: relative;
    z-index: 1100;
}

.site-header .main-nav {
    position: absolute;
    right: 110px;
    top: 22px;
}

nav {
    display: block;
}

.site-logo {
    float: left;
    position: relative;
    padding: 10%;
}

.logo {
    background-position: -450px 0;
    position: relative;
}

.replace {
    background: url("https://s2.ltrbxd.com/static/img/sprite.da5e519e.svg") no-repeat;
    background-size: 800px 1020px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

a {
    color: #678;
    text-decoration: none;

    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.icon {
    background: url("https://s2.ltrbxd.com/static/img/sprite.da5e519e.svg") no-repeat -390px -110px;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 11px;
}


ul {
    list-style: none;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin-left: 15px;
    display: block;
    font-size: 1rem;
    letter-spacing: .07692308em;
    text-transform: uppercase;
    color: #9ab;
    font-family: "Graphik Web Semibold Regular",sans-serif;
}

.avatar {
    border-radius: 12px;
}

.contentWrap {
    background: #14181c url(https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png) 0 -1px repeat-x;
    margin: -22px auto 0;
    padding: 30px 0;
    /*max-width: fit-content;*/
}

.section-heading {
    border-bottom: 1px solid #456;
    color: #9ab;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-bottom: 0.76923077rem;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.section {
    position: relative;
    padding: 0 0 4.61538462rem;
}



div {
    display: block;
}

.title-hero {
    text-align: center;
    color: #abc;
    font-size: 2rem;
    font-family: Graphik-Light-Web,sans-serif;
    font-weight: 100;
}

.activityLink {
    position: absolute;
    display: inline-block;
}
